// Set width for icons? 
// Set height for icons?

.homeIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    fill: var(--text-primary);
    width: 100%;

}

.homeIcon:hover {
        display: none;
      }

.homeIcon:hover::after {
    visibility: visible;
    content: "HOME";
    font-size: 11px;
    display: flex;
    justify-content: center;
    color: var(--base-highlight);
    text-decoration: none;
  }