// Background Colours
$bg__primary:  black;
$bg__secondary: #2b2b2b;

// Text Colours
$text__primary: white;
$text__secondary: #8d8d8d;

// Accent Colours
$base__highlight: #00fff0;

// Border Colours
$border__primary: white;
$border__secondary: #8d8d8d;

// Semantic colors
$success: #198C4B;
$warning: #F6BE00;
$error: maroon;
