.layout {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.appLayout {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
    gap: 2rem;
}

.main {
  padding: 2rem;
}