.layout {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fullpage__layout {
    display: grid;
    // grid-template-columns: 100px 1fr;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
    gap: 1rem;
}