@import '../../styles/index.scss';

.sidebar {
  display: flex;
  color: $text__primary;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border-right: $border__secondary solid 0.5px;
  z-index: 100;
  overflow-y: scroll;
}