.navIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  fill: var(--text-primary);
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary);
}

.navIconSvg {
  width: 3rem;
  height: 3rem;
}

.navIcon:hover .navIconSvg {
  display: none;
}

.navIcon:hover::after {
  font-size: 1rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--base-highlight);
}

.homeIcon:hover::after { content: "HOME"; }
.aboutIcon:hover::after { content: "ABOUT"; }
.contactIcon:hover::after { content: "CONTACT"; }
.servicesIcon:hover::after { content: "SERVICES"; }
.skillsIcon:hover::after { content: "SKILLS"; }
.workIcon:hover::after { content: "WORK"; }
